
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2, h3 {
  color: #ffffff;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

p {
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

/* Estilos de encabezado */
header {
  text-align: center;
  padding: 40px 0;
}

/* Estilos de barra de navegaci칩n */
nav {
  background-color: #333333;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
}

nav ul li a:hover {
  background-color: #ffffff;
  color: #333333;
}

/* Estilos de secciones */
section {
  margin-bottom: 30px;
  text-align: center; /* A침adir estilo para centrar el contenido */
}

ul {
  text-align: left; /* Cambiar la alineaci칩n del texto a izquierda */
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

section a {
  display: block;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* Estilos de pie de p치gina */
footer {
  background-color: #333333;
  padding: 20px;
  text-align: center;
}

footer p {
  margin-bottom: 0;
}

@font-face {
  font-family: 'Press Start 2P';
  src: url('https://github.com/Sunny-Frog-Games/Sorcer-Striker/blob/webpage/Wiki/press-start-2p/PressStart2P.ttf?raw=true') format('truetype');
}


.title {
  font-family: 'Press Start 2P', Arial, sans-serif;;
  font-size: 40px;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.title-wrapper {
  background-color: #FAB227 ;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  display: inline-block;
}
